<!--<h5 class="stock-delivery-date-title"><%#= t(:delivery_date) %></h5>-->

<div id="delivery_date">
  <p class="field">
    <%= form.label :delivery_date, t(:delivery_date) %><br />
    <%= form.text_field :delivery_date, value: (l(@order.delivery_date) rescue l(Date.tomorrow)) %>
  </p>
</div>
