@import 'spree/frontend/variables';

#shipping_method {
  .stock-delivery-date-title {
    background-color: lighten($body_text_color, 70);
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size :11px;
   }
}

#delivery_date {
  .field {
    margin: 20px 0;

    label {
      margin-right: 20px;
    }

    input[type='text'], select {
      width: 130px;
    }
  }
}
